.card-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Додає відступ зверху */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.form-container {
  margin-top: 16px;
}
