<div class="table">
  <h2>Виконані перевезення</h2>
  <table>
    <thead>
      <tr>
        <th>Маршрути</th>
        <th>Водії</th>
        <th>Дата відправлення</th>
        <th>Дата повернення</th>
        <th>Оплата</th>
        <th>Премія</th>
        <th>Кінцева оплата</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let work of completedWorks">
        <td>{{ work.route?.name }}</td>
        <td>
          <ul>
            <li *ngFor="let driver of work.drivers">
              {{ driver.lastName }} {{ driver.firstName }}
            </li>
          </ul>
        </td>
        <td>{{ work.departureDate | date : "short" }}</td>
        <td>{{ work.returnDate | date : "short" }}</td>
        <td>{{ work.route?.payment | currency }}</td>
        <td>{{ work.paymentBonus | currency }}</td>
        <td>
          <ul>
            <li *ngFor="let finalSum of work.finalSums">
              {{ finalSum | currency }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
