<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="route">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Маршрути</th>
    <td mat-cell *matCellDef="let work">{{ work.route?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="drivers">
    <th mat-header-cell *matHeaderCellDef>Водії</th>
    <td mat-cell *matCellDef="let work">
      <ul>
        <li *ngFor="let driver of work.drivers">
          {{ driver.lastName }} {{ driver.firstName }}
        </li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="departureDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата відправлення</th>
    <td mat-cell *matCellDef="let work">
      {{ work.departureDate | date : "short" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата повернення</th>
    <td mat-cell *matCellDef="let work">
      {{ work.returnDate | date : "short" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="payment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Оплата</th>
    <td mat-cell *matCellDef="let work">
      {{ work.route?.payment | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="paymentBonus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Премія</th>
    <td mat-cell *matCellDef="let work">{{ work.paymentBonus | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="finalSums">
    <th mat-header-cell *matHeaderCellDef>Кінцева оплата</th>
    <td mat-cell *matCellDef="let work">
      <ul>
        <li *ngFor="let finalSum of work.finalSums">
          {{ finalSum | currency }}
        </li>
      </ul>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
></mat-paginator>
