nav {
  background-color: #0e3863;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin: 0 15px;
  font-weight: normal;
}
