<div class="login-container">
  <h2>Вхід</h2>
  <form (submit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="example@email.com"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label for="password">Пароль</mat-label>
      <input
        matInput
        type="password"
        placeholder="Введіть пароль"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit">
      Увійти
    </button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <p class="register-link">
    Ще не маєте акаунт? <a routerLink="/register">Зареєструватися</a>
  </p>
</div>
