<div class="form-container">
  <form [formGroup]="workForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Назва маршруту</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Дальність (км)</mat-label>
      <input matInput type="number" formControlName="distance" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Кількість днів у дорозі</mat-label>
      <input matInput type="number" formControlName="daysOnRoad" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Оплата</mat-label>
      <input matInput type="number" formControlName="payment" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="workForm.invalid"
    >
      Додати маршрут
    </button>
  </form>
</div>
